/* google font import  */

/*-------------------------
    Common css styles
---------------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: ; */
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 80px;
    padding: 0 8.33%;
}
img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #131313;
}
p {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.62;
    color: #727272;
}
.btn-primary {
    background-color: #ff900e;
    color: #fff;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/* ---------------------
    header area styles
----------------------- */
header.container {
    background-color: rgba(255, 144, 14, 0.1);
    padding-top: 40px;
    padding-bottom: 40px;
}
header .menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-bar .header-title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.18;
}
.menu-bar nav ul {
    display: flex;
    column-gap: 40px;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: 700;
    font-size: 1rem;
}

/* --------------------
Banner area styles
----------------------*/
.banner-area {
    padding-top: 70px;
}
.banner-content {
    max-width: 65%;
    text-align: center;
    margin: 0 auto 40px;
}
.banner-content .banner-title {
    font-weight: 700;
    font-size: 3.55rem;
    line-height: 1.17;
    margin-bottom: 20px;
}
.banner-area img {
    width: 100%;
    height: auto;
}

/* ---------------------
    feature css style
-----------------------*/

/* feature 1 styles */
.feature-1 {
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    align-items: center;
    margin-bottom: 80px;
}
.feature-1 .feature-img-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.feature-1 .feature-img-1 img {
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), -2px -2px 4px rgba(0, 0, 0, 0.3);
}
.feature-1 .feature-content-1 h2 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.18;
    color: #727272;
    margin-bottom: 20px;
}
.feature-content-1 h2 .of-our-text {
    font-weight: 700;
    color: #131313;
}
.feature-content-1 h2 .feature-text {
    font-weight: 700;
    color: #ff900e;
}

/* feature 2 styles */
.feature-2 {
    display: grid;
    grid-template-columns: 40% 58%;
    justify-content: space-between;
    align-items: center;
}
.feature-content-2 > h2 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.18;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 3px solid #ff900e;
}
.feature-content-2 > p {
    margin-bottom: 30px;
}
.feature-content-2 .feature-card {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.feature-content-2 .feature-card h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
}
.feature-img-2 {
    padding: 0 0 40px 50px;
    position: relative;
}
.feature-img-2 img {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1),
        -5px -5px 20px rgba(0, 0, 0, 0.1);
}
.feature-img-2 .experience {
    padding: 20px 25px;
    color: #fff;
    background-color: #ff900e;
    width: fit-content;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}
